
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
}
header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* ==== SLIDER ==== */
.slider {
  position: relative;
  max-width: 400px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Ẩn radio */
input[name="slide"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* Khối slide */
.slides {
  display: flex;
  width: 400px;
  height: 550px;
  transition: transform 0.6s ease;
}
.slide {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 46px;
}
.slide img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

/* ==== CHUYỂN SLIDE ==== */
#s1:checked ~ .slides { transform: translateX(0%); }
#s2:checked ~ .slides { transform: translateX(-100%); }
#s3:checked ~ .slides { transform: translateX(-200%); }
#s4:checked ~ .slides { transform: translateX(-300%); }

/* ==== NÚT ĐIỀU HƯỚNG ==== */
.nav {
  position: absolute;
  width: 98%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 4Px;
  transform: translateY(-50%);
  z-index: 3;
}
.nav label {
  background: rgba(147,143,143,0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav label:hover {
  background: rgba(0,0,0,0.8);
}
.nav img {
  width: 20px;
  height: 20px;
  margin: 10px;
}

/* Mỗi slide có cặp nút riêng */
#s1:checked ~ .nav .prev { display: block; pointer-events: auto; }
#s1:checked ~ .nav .next { display: block; pointer-events: auto; }

#s2:checked ~ .nav .prev2,
#s2:checked ~ .nav .next2 { display: block; pointer-events: auto; }

#s3:checked ~ .nav .prev3,
#s3:checked ~ .nav .next3 { display: block; pointer-events: auto; }

#s4:checked ~ .nav .prev4,
#s4:checked ~ .nav .next4 { display: block; pointer-events: auto; }

.nav label { display: none; pointer-events: none; }

/* ==== CHẤM TRÒN ==== */
.bullets {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  text-align: center;
}
.bullets label {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
#s1:checked ~ .bullets label[for="s1"],
#s2:checked ~ .bullets label[for="s2"],
#s3:checked ~ .bullets label[for="s3"],
#s4:checked ~ .bullets label[for="s4"] {
  background: #333;
}
